<h2 class="p-name">
  <a href="{{ post.url | url }}">{{ post.data.title }}</a>
</h2>
<p>
  Published: 
  <time class="dt-published" datetime="{{ post_date | dateToRfc3339 }}">
    {{ post_date | readableDate }}
  </time>
  by <a class="p-author h-card" href="{{ metadata.author.url }}">{{ metadata.author.name }}</a>
</p>
{% if post.data.summary %}
  <p class="p-summary">{{ post.data.summary }}</p>
{% endif %}
<div class="e-content">
  {{ post_content | safe }}
</div>
