<div class="h-entry">
    <div class="e-content p-name">
        {{ post_content | safe }}
    </div>
    <p>
        Posted: 
        <a href="{{ post.url | url }}" class="u-url" rel="bookmark">
            <time class="dt-published" datetime="{{ post_date }}">
                {{ post_date }}
            </time>
        </a>
        by <a class="p-author h-card" href="{{ metadata.url }}">{{ metadata.author.name }}</a>
    </p>
</div>
