---
title: David Peach's Homepage
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="David Peach is a developer and virtual photography enthusiast. He uses Arch Linux and Vim, by the way.">
    <link rel="stylesheet" href="/bundle.css">
    <title>{{ title }}</title>
  </head>
  <body class="flow text-content">
    {{ content | safe }}
  </body>
</html>
