<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="David Peach is a developer and virtual photography enthusiast. He uses Arch Linux and Vim, by the way.">
        <link rel="stylesheet" href="/bundle.css">
    </head>
    <body class="flow text-content">
        <header>
            <p>David Peach</p>
        </header>
        <main>
            {%- set kind = post.data.postKind | default("note") -%}
            {%- set post_content = content -%}
            {%- set post_date = date -%}
            {%- if kind == "note" -%}
            {%-  include "partials/note.njk" -%}
            {%- endif -%}
        </main>
        <footer>
            <p><small>&copy; davidpeach.co.uk 2013&thinsp;&ndash;&thinsp;2025</small></p>
        </footer>
    </body>
</html>
